gunicorn
flask
flask-socketio
openai
pytest
bs4
beautifulsoup4
langchain
unstructured
chromadb
tiktoken
cohere
elasticsearch
sentence_transformers
gensim
nltk
transformers
scikit-learn
numpy
torch
tensorflow
reportlab
sentencepiece
eventlet